.navbar-expand-lg {
  box-shadow: 0 6px 14px rgba(0, 0, 0, .14);
  position: fixed;
  background: white;
  width: 100%;
  z-index: 3;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.navbar-expand-lg .navbar-nav .nav-item {
  margin: 0px 20px 0px 20px;
  font-weight: 600;
}
.navbar-brand {
  margin-left: 20px;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
  color: #bfa16a;
}
.navbar-expand-lg .navbar-nav .nav-item .nav-link:hover {
  color: #bfa16a;
  text-decoration: underline;
}
